.column {
  padding: 0;
  .calendar-cell {
    margin: 1px;
    /* necessary, so it doesn't cover pseudo elements */
    z-index: 1;

    .cell-content {
      text-align: center;
      overflow-wrap: normal;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
