<ion-toolbar>
  <ion-title slot="start">{{ date | date: 'MMMM yyyy' }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="prev()"
      ><ion-icon name="ios-arrow-back"></ion-icon
    ></ion-button>
    <ion-button (click)="next()"
      ><ion-icon name="ios-arrow-forward"></ion-icon
    ></ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-grid>
  <ion-row>
    <ion-col size="2" *ngFor="let day of days" class="column">
      <ion-card
        mode="md"
        class="calendar-cell ion-activatable"
        (click)="dayClicked(day)"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-content class="cell-content">
          <ng-container
            *ngTemplateOutlet="contentTemplate; context: { $implicit: day }"
          ></ng-container>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
