<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="flex-container">
    <form
      *ngIf="userExists === false"
      class="column"
      (ngSubmit)="setAdminPassword()"
    >
      <ion-item>
        <ion-label>
          Admin Passwort:
        </ion-label>
        <ion-input
          type="password"
          placeholder="Passwort"
          [(ngModel)]="password"
          name="password"
        ></ion-input>
      </ion-item>
      <ion-button type="submit" class="button-under-input"
        >Bestätigen</ion-button
      >
    </form>

    <div *ngIf="userExists === true" class="column">
      <ion-button (click)="selectEmployee()">Login als Mitarbeiter</ion-button>
      <ion-item class="center-line"
        ><ion-label style="text-align: center">oder</ion-label></ion-item
      >
      <form (ngSubmit)="selectAdmin()">
        <ion-item [ngClass]="{ 'invalid-item': passwordInvalid }">
          <ion-input
            (ionInput)="passwordInput()"
            type="password"
            placeholder="Admin Passwort"
            [(ngModel)]="password"
            name="password"
          ></ion-input>
        </ion-item>
        <ion-button type="submit" class="button-under-input"
          >Login als Admin</ion-button
        >
      </form>
    </div>
  </div>
</ion-content>
