.flex-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.column {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
  }
}

.button-under-input {
  margin-top: 4%;
}

.center-line {
  padding-top: 6%;
  padding-bottom: 6%;
}

.invalid-item {
  --border-color: var(--ion-color-danger);
}
