<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Übersicht</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-ui-calendar #calendar>
    <ng-template #content let-day>
      <ion-label
        [ngClass]="{
          label: true,
          success:
            day | checklistExists: calendar.year:calendar.month:updated | async,
          today: day === calendar.today
        }"
        >{{ day }}</ion-label
      >
    </ng-template>
  </app-ui-calendar>
  <ion-button (click)="generateMocks()" class="mock-button">Mock</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      slot="start"
      color="danger"
      fill="clear"
      (click)="clearStorage()"
    >
      Speicher freigeben
    </ion-button>
    <ion-button slot="end" color="primary" fill="clear" (click)="export()">
      Export
    </ion-button>
  </ion-toolbar>
</ion-footer>
