.label {
  color: var(--ion-color-primary-contrast);

  font-weight: bold;
}

/* stretches to fill the whole ion-cell */
.label::after {
  display: block;
  content: '';

  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* create a new stacking context */
  position: absolute;
  z-index: -1; /* to be below the parent element */

  background-color: var(--ion-color-primary);
}

.label.success {
  color: var(--ion-color-secondary-contrast);
}

.label.success::after {
  background-color: var(--ion-color-secondary);
}

.label.today::after {
  border: 3px solid var(--ion-color-secondary);
  box-sizing: border-box;
}

.label.success.today::after {
  border: 3px solid var(--ion-color-primary);
}

.mock-button {
  --background: var(--ion-color-background);
  --box-shadow: transparent 0 0 0 0;
}
