.list {
  background-color: var(--ion-color-tertiary);
  color: var(--ion-color-tertiary-contrast);
  font-weight: bold;
}

.list.is-today {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.list.list-exists {
  background-color: var(--ion-color-secondary) !important;
  color: var(--ion-color-secondary-contrast) !important;
}
