<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Wählen Sie eine Liste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="listTypeExists">
  <ion-card
    *ngFor="let listType of listTypeService.listTypes; let i = index"
    (click)="choose(listType)"
  >
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-header
      [ngClass]="{ list: true, 'list-exists': listTypeExists[i], 'is-today': isToday }"
    >
      {{ listType.name }}
    </ion-card-header>
  </ion-card>
</ion-content>
