<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start" *ngIf="checklist !== undefined">{{
      checklist.timestamp * 1000 | date: 'dd.MM.yyyy'
    }}</ion-title>
    <ion-title slot="end" *ngIf="checklist !== undefined && !editable">{{
      checklist.timestamp * 1000 | date: 'HH:mm'
    }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="checklist !== undefined">
  <ion-list *ngFor="let section of checklist.sections" class="list">
    <ion-title>{{ section.title }}</ion-title>
    <ion-item-divider [ngClass]="{ empty: !section.description }">
      <ion-label class="description">{{ section.description }}</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let item of section.items">
      <ion-label class="item">{{ item.title }}</ion-label>
      <ion-checkbox
        slot="end"
        [(ngModel)]="item.value"
        [disabled]="!editable"
      ></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-textarea
    placeholder="Kommentare"
    [(ngModel)]="checklist.comments"
    [disabled]="!editable"
  ></ion-textarea>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="checklist !== undefined">
    <ion-input
      *ngIf="editable"
      slot="start"
      placeholder="Name"
      [(ngModel)]="checklist.employee"
      [ngClass]="{ danger: !checklist.employee }"
    ></ion-input>
    <ion-label *ngIf="!editable" slot="start" class="name-label"
      >{{ checklist.employee }}
    </ion-label>
    <ion-button
      slot="end"
      (click)="presentAcceptAlert()"
      [disabled]="!editable || !checklist.employee"
      color="primary"
      class="button"
      >Bestätigen</ion-button
    >
  </ion-toolbar>
</ion-footer>
