.list {
  padding-bottom: 30px;

  .empty {
    max-height: 13px;
    min-height: 13px;
  }
  .description {
    white-space: normal;
  }

  .item {
    white-space: normal;
  }
}

.button {
  font-weight: bold;
}

.name-label {
  padding: 10px 0px 10px 8px;
}

.danger {
  color: var(--ion-color-danger);
  --placeholder-opacity: 1;
}
